# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.*.local

# Uploads
uploads/*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test
coverage/
.nyc_output/
